<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You forgot your password young Expat' ?</h1>
    <p>You have requested a password for your ExpatriRate account</p>
    <a href=<%="https://www.expatrirate.cf/new-password/reset_token=#{@token}"%>>
    Click on this link to choose a new password</a>
    <br/>
    <p>If you did not initiate this process, please ignore this email.</p>
    <br/>
    <p>See you soon on <%= link_to 'Expatrirate!', "https://www.expatrirate.cf"%></p>
  </body>
</html>
