<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue sur ExpatriRate</h1>
    <p>
      Tu t'es inscrit sur ExpatriRate en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Que tu sois un expatrié chevronné ou bien un curieux tu es au bon endroit pour découvrir pleins d'informations sur les villes où tu souhaites t'expatrier ! 
    </p>
    <p> À très vite sur ExpatriRate !
  </body>
</html>