<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to ExpatriRate</h1>
    <p>
      You registered on ExpatriRate using the following email <%= @user.email %>.
    </p>
    <p>
      Whether you're a seasoned expat or just curious you've come to the right place to find out lots of information about the cities you want to move to! 
    </p>
    <p>See you soon on ExpatriRate!</p>
  </body>
</html>